
    <h2>メッセージ一覧</h2>

<br>
<br>
<br>
    <% @message_rooms.each do |message_room| %>
        <% if message_room.target_user(current_user).present? %>
          <%= link_to message_room.target_user(current_user).name, message_room_messages_path(message_room)%><br><br>
        <% end %>
    <% end %>

