.devise_edit {
  text-align: center;
  margin-left: 500px;
  border:2px solid #D09B52;
  padding:40px 10px 0px 40px;
  width:70%;
  max-width:700px;
  border-radius:20px;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

#focus{
  border:3px solid #fef6fb;
  box-shadow:0 0 10px 0 #D09B52;
  position:absolute;
  transition:
    width .2s ease,
    height .2s ease,
    left .2s ease,
    top .2s ease,
    border-radius .2s ease;
  pointer-events:none;
  z-index:5;
  border-radius:10px;
  display:none;
}

input{
  padding:10px 15px;
  border-radius:10px;
  transition:.3s ease;
  color:#868283;

  &[type=text]{
    width:calc(300px);
    margin-bottom:30px;
    border:2px solid #EAE4DA;
    text-align: center;
    &:placeholder-shown{
      border:2px solid #EAE4DA;
    }
  }

  &[type=submit]{
    background:#D09B52;
    color:#EAE4DA;
    border:2px solid #D09B52;
    outline:10px solid #fff;
    // width:calc(50% - 30px);
    height:40px;
    margin:0 30px -20px 0;
    float:right;
    font-weight:800;
    font-size:0.7em;
    letter-spacing:1.8pt;
    text-transform:uppercase;
    cursor:pointer;

    &:hover{
      outline-width:0;
    }
  }
  &:focus{
    outline:0;
  }
}

.edit_checkbox {
  text-align: center !important;
}
.edit_submit {
  margin-right: 250px;
  margin-top: 30px;
}
.account_margin_top {
  margin-top: 30px;
}

// .bbbb {
//   text-align: center;
// }