// Place all the styles related to the hostels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
}

.hostel_form {
  margin-left: 500px;
  text-align: center;
  // border:2px solid #D09B52;
  padding:40px 10px 0px 40px;
  width:70%;
  max-width:700px;
  border-radius:20px;
}

.hostel_icon{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.hostel_show_icon{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: 20px;
}

.hostel_show {
  margin-top: 30px;
  font-size: 20px;
  border:2px solid #eeae55;
  border-radius:20px;
  width:70%;
  margin-left:250px;
}

.hostel_inner_show {
  text-align: center;
}

.hostel_show_images {
  margin-left: 100px;
  display: flex;
  justify-content: center;
}

.hostel_index {
  text-align: center;
  margin-top: 10px;
}

.not_search {
  margin-top: 200px;
  margin-right: 100px;
}

#map_two{
  width: 530px;
  height: 400px;
}

.top_page {
  text-align: center;
  margin-top: 30px;
}

.search_count {
  text-align: center;
}

.icon_margin {
  margin-bottom: 20px;
}

.hostel_box {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  text-align: center;
}

#header {
  background-color: darkblue;
  padding: 3px;
  width: 1195px;
  font-family: Meriyo UI;
  font-size: 14px;
  color: white;
}

#target {
width: 700px;
height: 500px;
margin-left: 30px;
z-index: 3;
}

tr {
  // border: solid 2px rgb(49, 96, 207);
  margin-bottom: 20px;
}

tr:hover {
  opacity: 0.7;
　color: white;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

input[type=text_index] {
  width: 40%;
  padding: 0px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

input[type=text_index]:focus {
  outline: none;
}

.edit_new_form, .edit_new_form_walk_city_time, .edit_new_form_price,
.edit_new_form_details, .edit_new_form_around_information {
    padding:10px 15px;
    border-radius:10px;
    transition:.3s ease;
    color:#868283;
    text-align: center;

    &[type=text]{
      text-align: center;
      width:calc(300px);
      margin-bottom:30px;
      &:placeholder-shown{
        border:2px solid #EAE4DA;
      }
    }
}

.edit_new_form_name, .edit_new_form_address, .edit_new_form_country, .edit_new_form_phone_number, .edit_new_form_capacity {
  width:calc(400px);
  border:2px solid #EAE4DA;
  border-radius: 10px;
  color: #868283;
  text-align: center;
}

.edit_new_form_walk_city_time, .edit_new_form_price {
  width:calc(400px);
  height: 50px;
  border:2px solid #EAE4DA;
  border-radius: 10px;
  color: #868283;
  text-align: center;
}

.edit_new_form_details {
  width:calc(400px);
  height: 150px;
  border:2px solid #EAE4DA;
  border-radius: 10px;
}

.edit_new_form_around_information {
  width:calc(400px);
  height: 150px;
  border:2px solid #EAE4DA;
  border-radius: 10px;
}

.hostel_show_back {
  text-align: center;
  margin-top: 30px;
  font-size: x-large;
}

#search, #clear {
  font-size: 13px;
}

.hostel_show_left {
margin-left: 820px;
  // text-align: center;
  // text-align: center;
}

.hostel_show_delete, .hostel_show_edit {
  padding: 30px;
}

.hostel_form_submit {
  margin-right: 240px;
  margin-bottom: 60px;
}

.hostel_comfirm_submit {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: 70px;
  // padding: 30px;
  // margin-right: 600px;
}

// .hostel_comfirm_submit2 {
//   display: flex;
//   justify-content: center;
//   padding: 30px;
//   // margin-right: 100px;
// }
.pagination {
  margin-left: 700px;
  margin-top: 30px;
}

.hostel_font {
  display: inline-block;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration:none;
  }
}

.badge {
  color: red;
}
