// Place all the styles related to the hostels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
    height: 400px;
    width: 800px;
}

#map_two {
    height: 200px;
    width: 400px;
}

.hostel_new {
    text-align: center;
}

.hostel_show {
    text-align: center;
    margin-top: 100px;
}

.hostel_index {
    text-align: center;
    margin-top: 100px;
}