// Place all the styles related to the hostels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// #map {
//     height: 400px;
//     width: 800px;
// }

// #map_two {
//     height: 200px;
//     width: 400px;
// }

.hostel_new {
  text-align: center;
}

.hostel_show {
  text-align: center;
  margin-top: 100px;
}

.hostel_index {
  text-align: center;
  margin-top: 10px;
}

#map_two{
  width: 530px;
  height: 400px;
}

table {
  // margin-left: 1000px;
  // text-align: center;
}

// .address_point {
//   margin-top: -100px;
//   margin-left: 100px;
// }

.hostel_box {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

#header {
  background-color: darkblue;
  padding: 3px;
  width: 1195px;
  font-family: Meriyo UI;
  font-size: 14px;
  color: white;
}
#target {
width: 700px;
height: 500px;
}