// Place all the styles related to the Message_rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message_index {
  text-align: center;
}
.message_two{
  display: flex;
  justify-content: center;
  .message_index_two {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}

