// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message_top {
  text-align: center;
  border:2px solid #D09B52;
  width:60%;
  border-radius:20px;
  margin-left: 350px;
  margin-top: 30px;
  word-wrap:break-word;
  height: 700px;
  position: relative;
}

.field_two {
  margin-left: 280px;
  margin-top: 20px;
  width: 500px;
  position: absolute;
  bottom: 0;
}

.right-message {
// margin-right: 600px;
  display: flex;
  justify-content: flex-start;
}

.left-message {
  // margin-left: 600px;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.messages_1 {
  margin-right: 600px;
}

.message_submit {
  margin-right: 140px !important;
  margin-bottom: 55px;

}

.message_index {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
// .message_index_two {
//   margin-top: 50px;
//   margin-right: 1000px;
// }

