// Place all the styles related to the hosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{

}

.body2{
  margin: 0 !important;
  padding: 0 !important;
  background: rgb(245, 245, 245) !important;

  color: rgb(0, 0, 0) !important;
  font-family: Arial !important;
  font-size: 14px !important;

  position: absolute !important;
  top: -20px !important;
  left: -20px !important;
  right: -40px !important;
  bottom: -40px !important;
  width: auto !important;
  height: auto !important;
  background-image: url(147852540807405697179_20161107223006.jpg) !important;
  background-size: cover !important;
  -webkit-filter: blur(5px) !important;
  z-index: 0 !important;
}

.grad{
  position: absolute !important;
  top: -20px !important;
  left: -20px !important;
  right: -40px !important;
  bottom: -40px !important;
  width: auto !important;
  height: auto !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))) !important; /* Chrome,Safari4+ */
  z-index: 1 !important;
  opacity: 0.7 !important;
}

.header2{
  position: absolute !important;
  top: calc(50% - 35px) !important;
  left: calc(50% - 255px) !important;
  z-index: 2 !important;
}

.header2 div{
  float: left !important;
  color: #fff !important;
  font-family: 'Exo', sans-serif !important;
  font-size: 35px !important;
  font-weight: 200 !important;
}

.header2 div span{
  color: #2252ee !important;
}

.login{
  position: absolute !important;
  top: calc(45% - 75px) !important;
  left: calc(50% - 50px) !important;
  height: 150px !important;
  width: 350px !important;
  padding: 10px !important;
  z-index: 2 !important;
}

.login input[type=text]{
  width: 250px !important;
  height: 30px !important;
  background: transparent !important;
  border: 1px solid rgba(255,255,255,0.6) !important;
  border-radius: 2px !important;
  color: #fff !important;
  font-family: 'Exo', sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  padding: 4px !important;
}

.login input[type=password]{
  width: 250px !important;
  height: 30px !important;
  background: transparent !important;
  border: 1px solid rgba(255,255,255,0.6) !important;
  border-radius: 2px !important;
  color: #fff !important;
  font-family: 'Exo', sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  padding: 4px !important;
  margin-top: 10px !important;
}

.login input[type=submit]{
  width: 230px !important;
  height: 20px !important;
  background: #fff !important;
  border: 1px solid #fff !important;
  cursor: pointer !important;
  border-radius: 2px !important;
  color: #a18d6c !important;
  font-family: 'Exo', sans-serif !important;
  font-size: 4px !important;
  font-weight: 600 !important;
  padding: 0px !important;
  margin-top: 20px !important;
  margin-right: 50px !important;
}

.login input[type=submit]:hover{
  opacity: 0.8 !important;
}

.login input[type=submit]:active{
  opacity: 0.6 !important;
}

.login input[type=text]:focus{
  outline: none !important;
  border: 1px solid rgba(255,255,255,0.9) !important;
}

.login input[type=password]:focus{
  outline: none !important;
  border: 1px solid rgba(255,255,255,0.9) !important;
}

.login input[type=button]:focus{
  outline: none !important;
}

::-webkit-input-placeholder{
  color: rgba(255,255,255,0.6) !important;
}

::-moz-input-placeholder{
  color: rgba(255,255,255,0.6) !important;
}

// .user_remember_me[type=checkbox] {

// }
// .login_email {
//   width: 250px;
//   height: 30px;
//   background: transparent;
//   border: 1px solid rgba(255,255,255,0.6);
//   border-radius: 2px;
//   color: #fff;
//   font-family: 'Exo', sans-serif;
//   font-size: 16px;
//   font-weight: 400;
//   padding: 4px;
// }

